.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Vie{
  border-radius: 20px;
  box-shadow: 6px 6px 5px rgb(80, 80, 80);
}
.VieBasket{
  border-radius: 35px;
  box-shadow: 3px 3px 25px rgb(222, 236, 32, 0.76);
}

.buttons{
  background-color: rgba(80, 80, 80, 0.68);
}
.backGround{
  background-color: rgb(221, 217, 217);
  margin-top: 1rem;
 margin-bottom: 1rem;
 border-radius: 35px;
 box-shadow: 5px 5px 5px rgb(80, 80, 80, 0.68);
}
.table{
  background-color:rgb(190, 190, 190);
}
.firstThead{
  background-color:rgba(11, 167, 81, 0.68);
}
.label{
  font-size:xx-large;
}
.color-red{
 color: red;
}
.text-right{
  text-align: right;
}